
 .name {
  text-align: center;

 }
 .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
.nav-list {
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  transition: .3s;
}
.section-item a {
  color: #2220b9 ;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color:#700d0d;
}
#Name {color: white;
text-align: center;
}
 body {
  background: url(./assist/img/GOPR0799.JPG);
opacity: 0.95;
background-size: 100%; 
min-height: 100vh}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  letter-spacing: 0.6em;
}
h2 {
  letter-spacing: 0.1em;
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Suravaram', sans-serif;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section {
  width: 75%;
}

#footer{
  font-style: italic
}
body {
  
    font-weight: 400;
    line-height: 1.5;
    }
    .img {
      text-align: left; 
     }
    .center-img {
      border: 250px;
      width: 250px; 
      height: 250px;
      border-radius: 75%;
      }
#Contacts {text-align: left;
}
#Aboutme {
  text-align: left;
  max-width: 600px;
  }
html {
  scroll-behavior: smooth; 
}
.logo {
  border: 150px;
      width: 70px; 
      height: 25px;
  }
.link {
  font-family: 'Neohellenic', sans-serif
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}