
 .box {
  box-sizing: 50px;
  margin: 5px 35px 15px 35px;
  border: 2px double #00afa3;
  border-radius: 1%;
 }
 .name {
  text-align: center;

 }
 .nav-list {
  font: 18px 'Neohellenic';
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
.nav-list {
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  transition: .3s;
}
.section-item a {
  color: #26655f ;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color:#fcc23f;
}
#Name {
  color: #00afa3;
  font-variant: small-caps;
  font-weight: 20px;
text-align: right;
display: flex;
}
.header {
  background-color: #c8f2ec;
  opacity: 0.9;
 
  }
  .footer {
    margin: 5px 0px 15px 0px;
    background-color: #c8f2ec;
    opacity: 0.9;
    }
  #footer{
    font: 10px italic;
    }

 .main {
 }



h1 {
  letter-spacing: 0.6em;
  font-variant: small-caps; 
  font-weight: bold;
}
.h2 {
  letter-spacing: 0.1em;
  font-variant: small-caps; 
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  font: 16px 'Suravaram', sans-serif;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section {
  width: 75%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
 font-family: 'Suravaram', sans-serif;
     font-weight: 400;
    line-height: 1.5;
    }
.img {
 text-align: left; 
 transition: 0.5s;
 }
    .center-img {
      border: 250px;
      width: 250px; 
      height: 250px;
      border-radius: 75%;
      position: relative;
 display: inline;
 line-height: 1.25;
      }
#Contacts {
  text-align: left;
  }
#Aboutme {
  text-align: left;
  max-width: 600px;
   }
html {
  scroll-behavior: smooth; 
}
.logo {
    border: right;
      width: 70px; 
      height: 25px;
   }
.link {
  font-family: 'Neohellenic', sans-serif
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}